<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside id="sidebar" class="affix">
    <div id="sidebar-search"></div>
    <div id="sidebar-menu">
        <ul class="nav sidebar-nav">
            <li><a href="${basePath}/officer/toOfficer"><span
                    class="glyphicons glyphicon-home"></span><span
                    class="sidebar-title">教务员管理主页</span></a></li>
            <li><a href="news_list.html"><span
                    class="glyphicons glyphicon-file"></span><span
                    class="sidebar-title">系别管理</span></a></li>
            <li><a href="${basePath}/officer/findAllMajors"><span
                    class="glyphicons glyphicon-paperclip"></span><span
                    class="sidebar-title">专业管理</span></a></li>
            <li><a href="${basePath}/officer/findAllClasses"><span
                    class="glyphicons glyphicon-credit-card"></span><span
                    class="sidebar-title">班级管理</span></a></li>
            <li><a href="${basePath}/toAllUsers"><span
                    class="glyphicons glyphicon-paperclip"></span><span
                    class="sidebar-title">用户管理</span></a></li>
            <li><a href="${basePath}/toAllUsers"><span
                    class="glyphicons glyphicon-paperclip"></span><span
                    class="sidebar-title">新生证件审核</span></a></li>
        </ul>
    </div>
</aside>
</body>
</html>