<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理界面</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{../img/lysf.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body data-type="index">

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand"><strong>广软教学管理系统(学生端)</strong><div class="pull-right header-btns">
        <a class="user">您好，用户 ${USER_SESSION.getAccount()}</a>
<!--        <a href="${baseurl}/logout" class="btn btn-default btn-gradient" type="button">退出</a>-->
    </div></div>

</header>

<div class="tpl-page-container tpl-page-header-fixed">

    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">功能列表</div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">

                <li class="tpl-left-nav-item"><a th:href="@{/project/findAllProject}"
                                                 class="nav-link active link_a" target="iframe_a"> <i class="am-icon-check-square-o"></i> <span>查看已发布作业</span>
                </a></li>
                <li class="tpl-left-nav-item"><a th:href="@{/coursework/addCourseWork}"
                                                 class="nav-link link_a" target="iframe_a"> <i class="am-icon-check-square-o"></i> <span>提交作业</span>
                </a></li>
                <li class="tpl-left-nav-item"><a th:href="@{/coursework/findAllCourseWork}"
                                                 class="nav-link link_a" target="iframe_a"> <i class="am-icon-check-square-o"></i> <span>查看已提交作业</span>
                </a></li>

                <li class="tpl-left-nav-item"><a href="logout"
                                                 class="nav-link tpl-left-nav-link-list link_a" target="iframe_a"> <i
                        class="am-icon-download"></i> <span>退出登录</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!--begin  -->
    <div class="tpl-content-wrapper">
        <iframe id="iframepage" name="iframe_a" th:src="@{/coursework/findAllCourseWork}" style="width: 100%;height: 850px;" seamless></iframe>
    </div>
    <!--end  -->

</div>
<div>

</div>

</body>
</html>